
<!-- use ng-click and ng-show and hide to make display dynamic -->

<fieldset class="form-group">
  <legend>Who are you looking for?</legend>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" ng-model="vm.selUserType" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="teacher" checked>
      Find Teachers
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" ng-model="vm.selUserType" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="student">
        Find Students
    </label>
  </div>
</fieldset>

<div class="animated bounceInRight find" ng-show="vm.selUserType==='student'">
  <h2>Find Students</h2>
  <table class="table">
    <thead>
      <tr>
        <th><input ng-model="vm.filterName" type="text"></th>
        <th><input ng-model="vm.filterGenre" type="text"></th>
        <th><input ng-model="vm.filterEmail" type="text"></th>
        <th>
          <select ng-model="vm.filterLevel" value="level">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
          </select>
        </th>
        <th><input ng-model="vm.filterInstrument" type="text"></th>
      </tr>
    </thead>
    <tr>
      <td>Name</td>
      <td>Genre</td>
      <td>Email</td>
      <td>Level</td>
      <td>Instrument</td>
    </tr>
    <tr ng-repeat="s in vm.students | filter:{name: vm.filterName, genre: vm.filterGenre, email: vm.filterEmail, level: vm.filterLevel, instrument: vm.filterInstrument}">
      <td>{{s.name}}</td>
      <td>{{s.genre}}</td>
      <td>{{s.email}}</td>
      <td>{{s.level}}</td>
      <td>{{s.instrument}}</td>
    </tr>
  </table>
</div>

<div class="animated bounceInRight find" ng-show="vm.selUserType==='teacher'">
<h2>Find Teachers</h2>
  <table class="table">
    <thead>
      <tr>
        <th><input ng-model="vm.filterName" type="text"></th>
        <th><input ng-model="vm.filterGenre" type="text"></th>
        <th><input ng-model="vm.filterEmail" type="text"></th>
        <th>
          <select ng-model="vm.filterLevel" value="level">
            <option value=""></option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
          </select>
        </th>
        <th><input ng-model="vm.filterInstrument" type="text"></th>
      </tr>
    </thead>
    <tr>
      <td>Name</td>
      <td>Genre</td>
      <td>Email</td>
      <td>Level</td>
      <td>Instrument</td>
    </tr>
    <tr ng-repeat="t in vm.teachers | filter:{name: vm.filterName, genre: vm.filterGenre, email: vm.filterEmail, level: vm.filterLevel, instrument: vm.filterInstrument}">
      <td>{{t.name}}</td>
      <td>{{t.genre}}</td>
      <td>{{t.email}}</td>
      <td>{{t.level}}</td>
      <td>{{t.instrument}}</td>
    </tr>
  </table>
</div>
<!--
<input type="text" id="website" value="{{auth.Ctrl.getUser().email}}" />
<button data-copytarget="#website">copy</button> -->

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

<button type="button" class="btn btn-warning animated fadeIn" style="margin: 30px;" data-toggle="popover" title="Tip" data-content="Copy and Paste the email of the student or teacher you'd like to connect with before beginning a Google Hangout in the Lesson Room">Tip</button>



