<h2 class="splash animated lightSpeedIn">New Teacher</h2>
<form>
<div class="form-group row">
  <div class="col-xs-6">

<!--   <input ng-model="vm.newTeacher.name">
  <input ng-model="vm.newTeacher.email"> -->

    <input ng-model="vm.newTeacher.name" class="form-control" placeholder="Name" type="text"  id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6">
    <input ng-model="vm.newTeacher.email" class="form-control" placeholder="Email" type="email" id="example-search-input">
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6">
    <input ng-model="vm.newTeacher.password" class="form-control" placeholder="Password" type="password" id="example-email-input">
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6">
  <label for="exampleInputPassword1">Level</label>
    <select ng-model="vm.newTeacher.level" class="form-control" placeholder="Level" id="example-url-input">
      <option class="form-control" value="beginner">Beginner</option>
      <option class="form-control" value="intermediate">Intermediate</option>
      <option class="form-control" value="advanced">Advanced</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6">
<!--   <span class="input-group-addon col-xs-1">$</span> -->
    <input ng-model="vm.newTeacher.price_per_lesson" class="form-control" placeholder="Price per Lesson" type="tel" id="example-tel-input">
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6">
    <input ng-model="vm.newTeacher.length_per_lesson" class="form-control" placeholder="Length per Lesson" type="text" id="example-password-input">
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6">
    <input ng-model="vm.newTeacher.genre" class="form-control" placeholder="Genre" type="text"id="example-number-input">
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6">
    <input ng-model="vm.newTeacher.instrument" class="form-control" placeholder="Instrument" type="text" id="example-datetime-local-input">
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6">
    <input ng-model="vm.newTeacher.videos" class="form-control" placeholder="Videos" type="text" id="example-date-input">
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6">
<textarea ng-model="vm.newTeacher.bio" class="form-control" placeholder="Bio" id="exampleTextarea" rows="3"></textarea>  </div>
</div>
<button ng-click="vm.updateTeacher()" id="form-but" class="btn btn-info">Submit</button>

</form>


